.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .FTCGameBoard{

  }

  .Robot{
  position: absolute;
  height: 200px;
  width: 150px;
  }

  #bluerobot1{
  top: 520px;
  left: 870px;
  }

  #bluerobot2{
  top: 880px;
  left: 870px;
  }

  #redrobot1{
  top: 520px;
  right: 870px;
  }

  #redrobot2{
  top: 880px;
  right: 870px;
  }


}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#left-box{
    background-color: #3b3b3b;
    height: 1360px;
    width: 700px;
    position: absolute;
    left: 0px;
    top: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    font-size: calc(8px + 2vmin);
}

#right-box{
    background-color: #3b3b3b;
    height: 1360px;
    width: 700px;
    position: absolute;
    right: 0px;
    top: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    font-size: calc(8px + 2vmin);
}



.BlueButtons {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.BlueButtons:hover,
.BlueButtons:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.BlueButtons:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.BlueButtons:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}


.RedButtons {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #8B0000;
 /*box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;*/
  color: #8B0000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.RedButtons:hover,
.RedButtons:focus {
  background-color: #FF7F7F;
  color: #8B0000;
}

.RedButtons:focus {
  box-shadow: 0 0 0 4px rgba(255, 0, 0, .15);
}

.RedButtons:active {
  background-color: #f26161;
  box-shadow: none;
  color: #8B0000;
}